@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

body {
  background-color: #f4f4f4;
  font-family: 'Varela Round', sans-serif;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
ul li,
ol li {
  list-style: none;
}
a,
button {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
button:focus,
input:focus,
textarea:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.app__container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}
.app__container-md {
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.app__container-sm {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}












/*
  Navbar Style
*/




.navbar-light .navbar-nav .app__btn,
.app__btn {
  font-size: 16px;
  color: #e16259;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #e16259;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-nav .app__btn:hover,
.app__btn:not(:disabled):not(.disabled):active:focus,
.app__btn:not(:disabled):not(.disabled):active:focus,
.app__btn:not(:disabled):not(.disabled):active,
.app__btn:hover {
  color: #fff;
  background-color: #e16259;
  border-color: #e16259;
  box-shadow: none;
}
.app__btn-set {
  min-width: 200px;
  background-color: #fff;
  min-height: 48px;
}






/*
  Navbar Style
*/











/*
  Landing Style
*/




.hero__component {
  padding: 64px 0;
}
.hero__component .hero__img {
  width: 100%;
  max-width: 60%;
  pointer-events: none;
}
.main__heading {
  font-size: 44px;
  color: #000;
  font-family: 'Arapey', serif;
}
.hero__para {
  font-size: 22px;
  color: #000;
  padding-bottom: 20px;
  font-style: italic;
  font-family: 'Arapey', serif;
}
.hero__para:after {
  content: '';
  width: 12%;
  height: 1px;
  background-color: rgba(0,0,0,.2);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.stories__block {
  display: flex;
  margin-bottom: 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.stories__block:hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
}
.stories__block .stories__img {
  width: 240px;
  height: 250px;
  overflow: hidden;
  pointer-events: none;
}
.stories__block .stories__img img {
  object-fit: cover;
}
.stories__block .stories__detail {
  padding: 20px 50px;
}
.stories__block .stories__block-heading {
  font-size: 24px;
  color: #000;
  font-family: 'Arapey', serif;
}
.app__link {
  font-size: 16px;
  color: #e16259;
}
.app__link:hover,
.app__link:focus {
  color: #cc2e22;
  text-decoration: underline;
}
.stories__date {
  font-size: 14px;
  color: #000;
}
.md__para {
  font-size: 16px;
  color: #939393;
}
.clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.footer__para {
  font-size: 16px;
  color: #939393;
  font-weight: 500;
}





/*
  Landing Style
*/


















/*
  Detail Style
*/






.detail__img {
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}





/*
  Detail Style
*/

















/*
  Signin & Signup Style
*/








.form__field {
  margin-bottom: 24px;
}
.form__field .form-control {
  font-size: 16px;
  font-weight: normal;
  border-radius: 4px;
  height: calc(2.375em + .75rem + 2px);
  border: 1px solid #e2e2e2;
  padding: 12px 16px;
}
.form__field .form-control:focus {
  border-color: #000;
}
.form__option .form__trouble,
.form__option .app__link {
  font-size: 14px;
}








/*
  Signin & Signup Style
*/


















/*
  Media Queries Style
*/





@media screen and (min-width: 768px) {
  .stories__block .stories__block-para {
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .hero__component .hero__img {
    max-width: 100%;
  }
  .main__heading {
    font-size: 40px;
  }
  .hero__para {
    font-size: 20px;
  }
  .stories__block {
    flex-direction: column;
  }
  .stories__block .stories__img {
    width: 100%;
  }
  .stories__block .stories__detail {
    padding: 20px;
    text-align: center;
  }
}

